* {
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

header,
main,
footer {
  width: 100%;
}

h1,
h2 {
  padding: 15px;
}

table {
  min-width: 750px;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  width: 150px;
  padding-top: 4px 6px;
  text-align: center;
  white-space: nowrap;
}

td {
  border: 1px solid black;
}