* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

header,
main,
footer {
  width: 100%;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

header {
  background-color: rgb(211, 211, 211);
  margin-bottom: 50px;
}

h1 {
  padding: 25px 50px 25px 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}

.intro-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 5px
}

.new-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

.new-btn {
  padding: 6px 24px;
}

.table-container {
  width: 75%;
}

table {
  /* min-width: 750px; */
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  width: 150px;
  padding-top: 4px 6px;
  text-align: center;
  white-space: nowrap;
}

td {
  border: 1px solid black;
}

footer {
  position: absolute;
  bottom: 0;
}

p {
  margin: 0;
}